$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "compass";

@include font-face('os-r', font-files('/styles/fonts/opensans/OpenSans-Regular.ttf'));
@include font-face('os-l', font-files('/styles/fonts/opensans/OpenSans-Light.ttf'));

body {
  background: url('../images/concrete_wall.png');
  font-family: 'os-r';
}


.highway{
  width: 100%;
  .lane{
    vertical-align: top;
    .well{
      overflow: hidden;
    }
  }
}

.card{
  width: 10em;
  height: 7em;
  border: 1px solid rgba(0,0,0,0.5);
  background: white;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,.5);
  text-shadow: 1px 1px 0 rgba(0,0,0,.1);
  border-radius: 3px;
  float: left;
  margin: 3px;
  position: relative;
  background-color: rgb(255,255,255); // Old browsers
  @include filter-gradient(#ffffff, #ededed, vertical); // IE6-9
  @include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%));
  span{
    display: block;
    padding: 3px;
    background: rgba(0,0,0,0.1);
  }
  p{
    padding: 3px;
  }
  button{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0;
    display: none;
    opacity: .5;
  }

  &:hover{
    button{
      display: block;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.users{
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 5px;
  .user{
    float: left;
    width: 100px;
    height: 30px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
    line-height: 30px;
    border-radius: 20px;
    background-color: rgb(252,234,187); // Old browsers
    @include filter-gradient(#fceabb, #fbdf93, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%));
    border: 2px solid rgba(0,0,0,1);
  }
}

h2 {
  @include reset-box-model();
  @include reset-font();
  font-family: 'os-l';
  font-size: 1.5em;
  text-transform: capitalize;
  color: rgba(255, 255, 255,0.5);
  text-shadow: -1px -1px 0 rgba(0,0,0,0.8);
  margin-bottom: 10px;
}
.right{
  background-color: #b4df5b; // Old browsers
  @include filter-gradient(#b4df5b, #b4df5b, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #b4df5b 0%,#b4df5b 100%));
}
.ok{
  background-color: #f1e767; // Old browsers
  @include filter-gradient(#f1e767, #feb645, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #f1e767 0%,#feb645 100%));
}
.bad{
  background-color: #ff3019; // Old browsers
  @include filter-gradient(#ff3019, #cf0404, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ff3019 0%,#cf0404 100%));
}