<div class="well form-inline">
    <input type="text" ng-model="card" placeholder="type card content here" autofocus="autofocus"/>
    <select ng-model="selectedLane" ng-options="lane.name for lane in room.lanes"><select>
    <button ng-click="addCard(selectedLane.id)" class="btn">Add</button>
</div>
<table class="highway">
    <tr>
        <td ng-repeat="lane in room.lanes" class="lane">
            <div class="well">
                <h2>{{ lane.name }}</h2>
                <ul ng-repeat="card in room.cards | filter: {lane : lane.id} | filter: {user : user.id}" class="unstyled">
                    <li class="card">{{ card.body }} <button class="btn btn-danger btn-mini" ng-click="remove(card)"><i class="icon-remove-sign icon-white"></i></button></li>
                </ul>
            </div>

        </td>
    </tr>
</table>

<div class="users">
    <ul class="unstyled">
        <li  ng-repeat="u in room.users" class="user">{{ u.name }}</li>
    </ul>
</div>


<div class="modal hide fade" id="userModal" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Modal header</h3>
    </div>
    <div class="modal-body">
        <p><input type="text" ng-model="user.name"/></p>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary" ng-click="addUser()">Ok</a>
    </div>
</div>