<div style="width: 700px; margin: 10px auto" class="text-center">
    <form class="form-inline" ng-submit="addCard(selectedLane.id)">
        <input type="text" ng-model="card" placeholder="type card content here" autofocus="autofocus"/>
        <select ng-model="selectedLane" ng-options="lane.name for lane in room.lanes"><select>
            <button type="submit" class="btn">Add</button>
    </form>
</div>
<table class="highway">
    <tr>
        <td ng-repeat="lane in room.lanes" class="lane">
            <h2>{{ lane.name }}</h2>
            <ul ng-repeat="card in room.cards | filter: {lane : lane.id} | filter: {user : user.id}" class="unstyled">
                <li class="card">{{ card.body }}
                    <button class="btn btn-link btn-mini" ng-click="remove(card)"><i class="icon-remove"></i></button>
                </li>
            </ul>
        </td>
    </tr>
</table>

<div class="users text-center">
    <ul class="unstyled">
        <li ng-repeat="u in room.users" class="user">{{ u.name }}</li>
    </ul>
</div>


<div class="modal hide fade" id="userModal" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Your username please ...</h3>
    </div>
    <div class="modal-body">
        <p><input type="text" ng-model="user.name" class="input-block-level"/></p>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary" ng-click="addUser()">Yha that's me !!!</a>
    </div>
</div>